#containerDetails{
    display: grid;
    grid-template-columns: auto auto auto;
    height: 40vh;
    direction: ltr;

}
.details{
    color:#464343;
    font-size: 20px;
    padding: 10px;
}
#item-img{
    width:10vw;
    height: 25vh;
}