.listItem {
    margin: 2vw 2vh;
    width: 23vw;
    height: 70vh;
}

.list {
    list-style-type: none;
    width: 70%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 3vw;
    padding: 10px;
    margin-bottom: 10vh;

}

ul {
    list-style: none;
    list-style-type: none;
    margin-right: 8vw;
    margin-left: 8vw;

}

#listHeader {
    text-align: center;
}

#divCircularProgress {
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
     margin-bottom: 10vh;
    margin-left: 25vw ; 
}


